
#content-body {
    
    background-color: rgb(23, 23, 22);
    /* background-color: rgb(102, 255, 255); */
    /* background-color: rgb(102, 255, 255); */

}



@media (min-width: 725px) {

    #content-body {

        width: calc(100% - 40%);

        padding-left: 20%;
        padding-right: 20%;
    
    }
   
    
}



@media (max-width: 725px) {

    #content-body {

        width: 100%;

        padding-left: 0;
        padding-right: 0;
    
    }
    
}